<?xml version="1.0"  encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <!--<add key="dbPharmaTracConnectionString" value="Data Source=J10D6S2\SQLEXPRESS;Initial Catalog=dbWCPM;User ID=sa;Password=sadb@123" />-->

    <add key="dbPharmaTracConnectionString" value="data source =RRM-NB-025\SQLEXPRESS; initial catalog = dbWCPM; uid = sa; password = sadb@123; Pooling = False"/>


    <!--<add key="LabelPrinterIP" value="172.31.1.92" />
    <add key="LabelPrinterPOrt" value="9100" />-->
    <add key="Test" value="Test" />
    <add key="PrintLimit" value="10" />
    <add key="LicensePath" value="D:\Share\new licesnse\wcpm-5.LIC" />
    <add key="LabelPrinterIP" value="172.31.0.92" />
    <add key="LabelPrinterPOrt" value="9100" />
    <add key="LabelPrnFilePath" value="D:\\Current Projects\\MTS-WCPM\\Project docs and files\\finallabel.prn" />



    <!--<add key="ConnString" value="data source=localhost;initial catalog=dbContinental;uid=sa;password=Admin_123;pooling=false" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
</configuration>
