USE [master]
GO
/****** Object:  Database [dbWCPM]    Script Date: 30-07-2019 09:29:22 ******/
CREATE DATABASE [dbWCPM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbWCPM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbWCPM.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbWCPM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dbWCPM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbWCPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbWCPM]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATECHILDREELS]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CREATECHILDREELS] 
	-- Add the parameters for the storedprocedure here
	@NOOFREELS NUMERIC(18,0),
	@LOTNUMBER VARCHAR(50),
	@SIZE VARCHAR(50),
	@USER VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @cnt INT = 0;
	 DECLARE @UNIQUENUM VARCHAR(MAX)
	
WHILE @cnt < @NOOFREELS
BEGIN

 SET @UNIQUENUM=@LOTNUMBER+'\'+CONVERT(varchar(50), @cnt+1)
 IF NOT EXISTS(SELECT R_REELID FROM TBL_REELS WHERE R_REELID=@UNIQUENUM)
 BEGIN
 INSERT INTO TBL_REELS (R_REELID,R_SIZE,R_REMARKS,R_ROLLID,R_USERNAME) VALUES (@UNIQUENUM,@SIZE,'',@LOTNUMBER,@USER)
 END
   SET @cnt = @cnt + 1;
END;
	
	SELECT * FROM TBL_REELS WHERE R_ROLLID=@LOTNUMBER

	END
	




GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTPOFORWEB]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SELECTPOFORWEB] 
	-- Add the parameters for the stored procedure here
	@LINENUMNER VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	
	SELECT PO_SERIALNUMBER,PO_PODUCTIONORDER,PO_ROLLID,PO_QUALITY,PO_GSM,PO_DIA,PO_SIZE,PO_NOOFJOINTS,PO_NOOFREELS,PO_DATEOFMANUFACTURING

	
FROM TBL_PRODUCTIONORDER WHERE PO_MACHINENUMBER=@LINENUMNER
	END
	




GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTREELDETAILS]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SELECTREELDETAILS] 
	-- Add the parameters for the stored procedure here
	@REELID VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	select TR.R_REELID AS [REELID],TS.PO_ROLLID AS [LOT NO],TS.PO_QUALITY AS[QUALITY],TS.PO_SIZE AS [SIZE],
	TS.PO_GSM AS [GSM],TS.PO_DATEOFMANUFACTURING AS [MFG],TS.PO_SHIFT AS [SHIFT] from TBL_REELS TR inner join TBL_PRODUCTIONORDER TS  
ON tr.R_ROLLID=TS.PO_ROLLID AND TR.R_REELID=@REELID ORDER BY R_ID ASC
	
	END
	




GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTREELSDETAILSFORREPORT]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SELECTREELSDETAILSFORREPORT] 
	-- Add the parameters for the storedprocedure here
	
	@LOTNUMBER VARCHAR(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
 IF @LOTNUMBER='ALL'
 BEGIN
 SELECT * FROM TBL_REELS 
 END


 ELSE
  BEGIN
  SELECT * FROM TBL_REELS WHERE R_ROLLID=@LOTNUMBER
  END
	
	

	END
	




GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTROLLETAILSFORWEB]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SELECTROLLETAILSFORWEB] 
	-- Add the parameters for the stored procedure here
	@ROLLID VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	
	SELECT PO_PODUCTIONORDER,PO_ROLLID,PO_QUALITY,PO_GSM,PO_DIA,PO_SIZE,PO_NOOFJOINTS,PO_NOOFREELS

	
FROM TBL_PRODUCTIONORDER WHERE PO_ROLLID=@ROLLID
	END
	




GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTUSERFORWEB]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SELECTUSERFORWEB] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	SELECT ID,EMPNAME,EMPID,[ROLE],LOGINUSERNAME,[PASSWORD],CREATEDDATE,
	ISLOGGEDIN,LASTLOGGEDIN,
	 
CASE 
    WHEN [ACTIVEUSER] =1 THEN 'ACTIVE' 
    WHEN [ACTIVEUSER] =0 THEN 'IN ACTIVE' 
    ELSE 'NULL'
	
	END
	as [ACTIVEUSER]

 from TBLLOGIN 
	END
	




GO
/****** Object:  StoredProcedure [dbo].[SP_TBLINSERTLOGINDETAILS]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- PASSWORD,ACTIVEUSERAuthor:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TBLINSERTLOGINDETAILS] 
	-- Add the parameters for the stored procedure here
@EMPNAME VARCHAR(50),
@EMPID VARCHAR(50),
@DESIGNATION VARCHAR(50),
@USERNAME VARCHAR(50),
@PASSWORD VARCHAR(250),
@STATUS VARCHAR(50)


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	INSERT INTO TBLLOGIN (EMPNAME,EMPID,[ROLE],LOGINUSERNAME,[PASSWORD],ACTIVEUSER) VALUES(@EMPNAME,@EMPID,@DESIGNATION,@USERNAME,@PASSWORD,@STATUS)

	
	 
END







GO
/****** Object:  StoredProcedure [dbo].[SP_TBLINSERTPRODUCTIONORDERS]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- PASSWORD,ACTIVEUSERAuthor:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TBLINSERTPRODUCTIONORDERS] 
	-- Add the parameters for the stored procedure here
@PO_PODUCTIONORDER VARCHAR(50),
@PO_ROLLID VARCHAR(50),
@PO_QUALITY VARCHAR(50),
@PO_GSM VARCHAR(50),
@PO_DIA VARCHAR(50),
@PO_SIZE VARCHAR(50),
@PO_NOOFJOINTS numeric(18, 0),
@PO_NOOFREELS numeric(18, 0),
@PO_DATEOFMANUFACTURING VARCHAR(50),
@PO_SHIFT VARCHAR(50),
@PO_STATUS VARCHAR(50),
@PO_MACHINENUMBER VARCHAR(50)





AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF not exists(select PO_ROLLID from TBL_PRODUCTIONORDER where PO_ROLLID=@PO_ROLLID )
		BEGIN
			
	
    -- Insert statements for procedure here
	INSERT INTO TBL_PRODUCTIONORDER (PO_PODUCTIONORDER, 
PO_ROLLID ,
PO_QUALITY ,
PO_GSM ,
PO_DIA ,
PO_SIZE ,
PO_NOOFJOINTS ,
PO_NOOFREELS ,
PO_DATEOFMANUFACTURING ,
PO_SHIFT ,
PO_STATUS,
PO_MACHINENUMBER )VALUES (@PO_PODUCTIONORDER,
@PO_ROLLID ,
@PO_QUALITY ,
@PO_GSM,
@PO_DIA ,
@PO_SIZE,
@PO_NOOFJOINTS ,
@PO_NOOFREELS,
@PO_DATEOFMANUFACTURING ,
@PO_SHIFT ,
@PO_STATUS,
@PO_MACHINENUMBER )


SELECT 'DATA UPLOAD SUCCESSFULL ' AS RESULT
		END
		ELSE
		BEGIN

		SELECT 'DUPLICATE ROLL ID FOUND' AS RESULT
		END
	 
END







GO
/****** Object:  StoredProcedure [dbo].[SP_TBLLOGINSELECTUSER]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TBLLOGINSELECTUSER] 
	-- Add the parameters for the stored procedure here
@LI_UserName VARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	select * from TBLLOGIN 
	where LOGINUSERNAME = @LI_UserName
	 
END







GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEPRINTCOUNT]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATEPRINTCOUNT] 
	-- Add the parameters for the stored procedure here
	@REELNUMBER VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	
	DECLARE @CURRENTCOUNT NUMERIC(18,0);

	SELECT @CURRENTCOUNT=R_NOOFPRINTS FROM TBL_REELS WHERE R_REELID=@REELNUMBER
	IF @CURRENTCOUNT=NULL
	BEGIN
SET 	@CURRENTCOUNT=0;
	END
	SET @CURRENTCOUNT=@CURRENTCOUNT+1;
	UPDATE TBL_REELS SET R_NOOFPRINTS=@CURRENTCOUNT WHERE R_REELID=@REELNUMBER
	END
	




GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEUSERDETAILS]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATEUSERDETAILS] 
	-- Add the parameters for the stored procedure here
	@ID NUMERIC(18,0),
	@EMPNAME VARCHAR(50),
	@EMPID VARCHAR(50),
	@ROLE VARCHAR(50),
	@USERNAME VARCHAR(50),
	@PASSWORD VARCHAR(50),
	@STATUS VARCHAR(50)
AS 	
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	UPDATE TBLLOGIN SET EMPNAME=@EMPNAME,EMPID=@EMPID   ,[ROLE]=@ROLE   ,LOGINUSERNAME=@USERNAME
	   ,[PASSWORD]=@PASSWORD ,ACTIVEUSER=@STATUS WHERE ID=@ID

	END
	




GO
/****** Object:  Table [dbo].[TBL_PRODUCTIONORDER]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTIONORDER](
	[PO_SERIALNUMBER] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PO_PODUCTIONORDER] [varchar](50) NULL,
	[PO_ROLLID] [varchar](50) NULL,
	[PO_QUALITY] [varchar](50) NULL,
	[PO_GSM] [varchar](50) NULL,
	[PO_DIA] [nvarchar](50) NULL,
	[PO_SIZE] [varchar](50) NULL,
	[PO_NOOFJOINTS] [numeric](18, 0) NULL,
	[PO_NOOFREELS] [numeric](18, 0) NULL,
	[PO_DATEOFMANUFACTURING] [varchar](50) NULL,
	[PO_SHIFT] [varchar](50) NULL,
	[PO_STATUS] [varchar](50) NULL,
	[PO_INSERTEDTIME] [datetime] NULL,
	[PO_MACHINENUMBER] [numeric](18, 0) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_REELS]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_REELS](
	[R_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[R_REELID] [varchar](50) NULL,
	[R_SIZE] [varchar](50) NULL,
	[R_REMARKS] [varchar](50) NULL,
	[R_ROLLID] [varchar](50) NULL,
	[R_DATETIME] [datetime] NULL,
	[R_NOOFPRINTS] [numeric](18, 0) NULL,
	[R_USERNAME] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLLOGIN]    Script Date: 30-07-2019 09:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLLOGIN](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EMPNAME] [varchar](50) NULL,
	[EMPID] [nvarchar](50) NULL,
	[ROLE] [nvarchar](50) NULL,
	[LOGINUSERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](250) NULL,
	[CREATEDDATE] [datetime] NULL,
	[ISLOGGEDIN] [bit] NULL,
	[LASTLOGGEDIN] [datetime] NULL,
	[ACTIVEUSER] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTIONORDER] ON 

INSERT [dbo].[TBL_PRODUCTIONORDER] ([PO_SERIALNUMBER], [PO_PODUCTIONORDER], [PO_ROLLID], [PO_QUALITY], [PO_GSM], [PO_DIA], [PO_SIZE], [PO_NOOFJOINTS], [PO_NOOFREELS], [PO_DATEOFMANUFACTURING], [PO_SHIFT], [PO_STATUS], [PO_INSERTEDTIME], [PO_MACHINENUMBER]) VALUES (CAST(1 AS Numeric(18, 0)), N'PROD001', N'ROL1', N'100', N'12.3', N'10.1', N'120', CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'22-07-2019 00:00:00', N'', N'', CAST(0x0000AA9400D3A043 AS DateTime), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[TBL_PRODUCTIONORDER] ([PO_SERIALNUMBER], [PO_PODUCTIONORDER], [PO_ROLLID], [PO_QUALITY], [PO_GSM], [PO_DIA], [PO_SIZE], [PO_NOOFJOINTS], [PO_NOOFREELS], [PO_DATEOFMANUFACTURING], [PO_SHIFT], [PO_STATUS], [PO_INSERTEDTIME], [PO_MACHINENUMBER]) VALUES (CAST(2 AS Numeric(18, 0)), N'PROD001', N'ROL2', N'100', N'12.3', N'10.1', N'120', CAST(1 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), N'22-07-2019 00:00:00', N'', N'', CAST(0x0000AA9400D3A043 AS DateTime), CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[TBL_PRODUCTIONORDER] ([PO_SERIALNUMBER], [PO_PODUCTIONORDER], [PO_ROLLID], [PO_QUALITY], [PO_GSM], [PO_DIA], [PO_SIZE], [PO_NOOFJOINTS], [PO_NOOFREELS], [PO_DATEOFMANUFACTURING], [PO_SHIFT], [PO_STATUS], [PO_INSERTEDTIME], [PO_MACHINENUMBER]) VALUES (CAST(3 AS Numeric(18, 0)), N'PROD001', N'ROL3', N'100', N'12.3', N'10.1', N'120', CAST(1 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), N'22-07-2019 00:00:00', N'', N'', CAST(0x0000AA9400D3A044 AS DateTime), CAST(1 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[TBL_PRODUCTIONORDER] OFF
SET IDENTITY_INSERT [dbo].[TBL_REELS] ON 

INSERT [dbo].[TBL_REELS] ([R_ID], [R_REELID], [R_SIZE], [R_REMARKS], [R_ROLLID], [R_DATETIME], [R_NOOFPRINTS], [R_USERNAME]) VALUES (CAST(1 AS Numeric(18, 0)), N'ROL1\1', N'120', N'', N'ROL1', CAST(0x0000AA9400D3AA5A AS DateTime), CAST(0 AS Numeric(18, 0)), N'admin')
INSERT [dbo].[TBL_REELS] ([R_ID], [R_REELID], [R_SIZE], [R_REMARKS], [R_ROLLID], [R_DATETIME], [R_NOOFPRINTS], [R_USERNAME]) VALUES (CAST(2 AS Numeric(18, 0)), N'ROL2\1', N'120', N'', N'ROL2', CAST(0x0000AA9400EC532D AS DateTime), CAST(0 AS Numeric(18, 0)), N'admin')
INSERT [dbo].[TBL_REELS] ([R_ID], [R_REELID], [R_SIZE], [R_REMARKS], [R_ROLLID], [R_DATETIME], [R_NOOFPRINTS], [R_USERNAME]) VALUES (CAST(3 AS Numeric(18, 0)), N'ROL2\2', N'120', N'', N'ROL2', CAST(0x0000AA9400EC532E AS DateTime), CAST(0 AS Numeric(18, 0)), N'admin')
SET IDENTITY_INSERT [dbo].[TBL_REELS] OFF
SET IDENTITY_INSERT [dbo].[TBLLOGIN] ON 

INSERT [dbo].[TBLLOGIN] ([ID], [EMPNAME], [EMPID], [ROLE], [LOGINUSERNAME], [PASSWORD], [CREATEDDATE], [ISLOGGEDIN], [LASTLOGGEDIN], [ACTIVEUSER]) VALUES (CAST(1 AS Numeric(18, 0)), N'ADMIN', N'1234', N'ADMIN', N'ADMIN', N'YP0MnlUVM6M=', CAST(0x0000AA8F00A93D48 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[TBLLOGIN] ([ID], [EMPNAME], [EMPID], [ROLE], [LOGINUSERNAME], [PASSWORD], [CREATEDDATE], [ISLOGGEDIN], [LASTLOGGEDIN], [ACTIVEUSER]) VALUES (CAST(2 AS Numeric(18, 0)), N'SUDHAKAR', N'123', N'Admin', N'sudhakar', N'vsqhc09xGjU=', CAST(0x0000AA8F00C0FC91 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[TBLLOGIN] ([ID], [EMPNAME], [EMPID], [ROLE], [LOGINUSERNAME], [PASSWORD], [CREATEDDATE], [ISLOGGEDIN], [LASTLOGGEDIN], [ACTIVEUSER]) VALUES (CAST(3 AS Numeric(18, 0)), N'qwqwqw', N'qwqw', N'Operator', N'qwqwqw', N'k6qXWzWdZRM=', CAST(0x0000AA92008FAFA5 AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TBLLOGIN] OFF
ALTER TABLE [dbo].[TBL_PRODUCTIONORDER] ADD  CONSTRAINT [DF_TBL_PURCHASEORDER_PO_INSERTEDTIME]  DEFAULT (getdate()) FOR [PO_INSERTEDTIME]
GO
ALTER TABLE [dbo].[TBL_REELS] ADD  CONSTRAINT [DF_TBL_REELS_R_DATETIME]  DEFAULT (getdate()) FOR [R_DATETIME]
GO
ALTER TABLE [dbo].[TBL_REELS] ADD  CONSTRAINT [DF_TBL_REELS_R_NOOFPRINTS]  DEFAULT ((0)) FOR [R_NOOFPRINTS]
GO
ALTER TABLE [dbo].[TBLLOGIN] ADD  CONSTRAINT [DF_TBLLOGIN_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
USE [master]
GO
